.kbreadcrumb {
  margin-right: 4px;
  margin-left: 4px;
  padding-left: 7px;
  /* border: 1px inset #4a4a4a; */
  /* border-radius: 4px; */
  flex: 1;
  background: #303030;
}

.kbreadcrumb .kbreaseparator {
  float: left;
  font-size: 18pt;
  padding-top: 1px;
  margin-top: 1px;
}

.kbreadcrumb .kbreadelement {
  float: left;
  margin: 2px;
  margin-right: 4px;
  margin-top: 4px;
  /* line-height: 14pt; */
  /* border: 1px solid grey; */
  /* background: #565656; */
  cursor: pointer;
  padding-left: 2px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}

.kbreadcrumb .kbreadelement:hover {
  background: #565656;
}

