
.kcredentials {
  display: flex;
  flex-direction: column;  
  flex: 1;
}

.kcredential {
  font-size: 18pt;
  display: flex;
  flex-direction: row;
  padding: 2px;
}

.kcredential:hover {
  background: #303030;
}

.kcredential-large {
  flex: 0;
  display: flex;
  flex-direction: column;
  font-size: 18pt;
  padding: 2px;
  padding-right: 4px;
  border-right: 1px solid #484848;
}

.kcredential-small {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 8pt;
  padding: 2px;
}