
.kfilemanager-content {
  flex: 1;
  background: #404040;
  color: #cdc9c9;
  display: flex;
  flex-direction: column;
  /*overflow-x: auto;*/
}

.file-address {
  flex: 0;
  background: #383838;
  display: flex;
  flex-direction: row;
  padding: 6px 6px 6px 0px;
}

.knav-buttons {
  font-size: 14pt;
}

.file-breadcrumb {
  border: 1px inset grey;
  background: grey;
  flex: 1;
}

.file-center {
  flex: 1;
  display: flex;
  flex-direction: row;  
  overflow: hidden;
}

.file-tree {
  flex: 0;
  background: #424242;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #5a5a5a;
}

.filetreeview {
  flex: 1;
}

.file-list {
  flex: 1;
  font-family: Arial, Verdana;
  font-size: 8pt;
  overflow-y: scroll;
  overflow-x: auto;
  background: #343434;
}

.kfilemanager-table {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.kfilerow {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}

.kfilecolumn {
  flex: 1;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
}

.kfileheader {
  padding: 2px;  
  background: #525151;
  border: 1px outset grey;  
}

.kfilecell {
  flex: 1;
  margin: 0px;
  padding: 4px;
  overflow: hidden;
  border-bottom: 1px solid #545353;
  white-space: nowrap;
  line-height: 12pt;
}

.kfilehighlighted {
  background: #464343;
  /* color: black; */
  /* font-weight: bold;*/
}

.kfileselected {
  background: #666666;
  /* color: black; */
  /* font-weight: bold;*/
}

.kfilepadding {
  padding: 2px;
  flex: 0;
  overflow: hidden;
}

.file-hor-padding {
  flex: 1;
}

.file-source {
  flex: 0;
  border: 1px;
  font-size: 20pt;
}

.file-controls {
  flex: 0;
  border: 1px outset grey;
  background: #545353;
  display: flex;
  flex-direction: row;
}

.file-control-panel {
  border: 1px solid grey;
  width: 250px;
  height: 200px;
  margin: 2pxpx;
  padding: 6px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;  
}

.file-blank-panel {
  flex: 1;
}

.file-service-icon {
  font-size: 36pt;
  text-align: center;
}

.file-label {
  padding: 5px;
}

.kfiletype {
  font-size: 12pt;
  float: left;
  margin-right: 2px;
}
